@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Create Your Deck of Cards</h1>
    <br />
    <h3>How many decks?</h3>
    <form method="post" action="/Home/GetCards">
        <input type="text" name="decks" />
        <input type="submit" />


    </form>

</div>
